@font-face {
    font-family: 'jabjai';
    src: url('../Assets/fonts/jabjai.woff2') format('woff2'),
         url('../Assets/fonts/jabjai.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}